.pagination
  display flex
  justify-content center
  margin-top auto
  margin-bottom 40px
  padding-top 20px
  gap 10px

.button
  font-weight bold
  font-size 20px
  background-color inherit
  border none
  padding 0
  width 30px
  height 30px

  &:hover
    cursor pointer
    opacity .6

  &Active
    opacity 1
    color #6495ed

    &:hover
      cursor auto
      opacity 1

.fakeBlock
  width 30px
  height 30px
